<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name user</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getUsername()}">Name user</td>
        <td th:text="${user.getLastName()}">Lastname</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${user.getRoles()}">Role</td>
        </tbody>
    </table>
    <form th:action="@{/user/editUser/{id}(id=${user.getId()})}">
        <button type="submit">Edit User</button>
    </form>
</div>
<a href="/logout">Logout</a>
</body>
</html>